~*
.*history
.antigen
.cache
.zcompdump*
.zdirs
.zgen
*.bak
*.local
*.zwc
*.zwc.old
z*history
plugins/*
.zprezto/
.zprezto-contrib/
.oh-my-zsh/
.zplugins/
.zsh_custom/
prompt_spaceship_setup
external/
